* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightsteelblue;
}

h1 {
  padding: 10px 20px;
  background-color: steelblue;
}

.board-list {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.board {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  background-color: pink;
}

.card {
  background-color: white;
}
